# Dependencies
node_modules/
jira-track/node_modules/
.pnp
.pnp.js

# Production
jira-track/dist/
dist/

# Testing
coverage/

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db
